[alias]
    co = checkout
    sm = submodule

    sm-reinit = "!f() { \
        set +x; \
        git sm deinit -f $1; \
        rm -rf $(git rev-parse --show-toplevel)/.git/modules/$1; \
        git sm update --init --recursive -- $1; \
    }; f"
[color]
    ui = true
[core]
    autocrlf = false
[fetch]
    prune = true
[push]
    default = simple
[submodule]
    fetchJobs = 4
[user]
    name = nattofriends
    email = nattofriends@gmail.com
[diff]
    renames = copy
[include]
    path = .gitconfig_local
